<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002438742697-f3cj6v3bv3m5pj7tu53ppumprslm142d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002438742697-f3cj6v3bv3m5pj7tu53ppumprslm142d</string>
	<key>API_KEY</key>
	<string>AIzaSyAUxRl9powOFqF0CjLCd_vz2mJtwrnrXi0</string>
	<key>GCM_SENDER_ID</key>
	<string>1002438742697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lina.MessengerApplication</string>
	<key>PROJECT_ID</key>
	<string>messengerapplication-9ea6d</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapplication-9ea6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002438742697:ios:fcd8413505f381f06f4fb8</string>
</dict>
</plist>